body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 100vh;
    display: grid;
    grid-template: 1fr 3fr/ 1fr 5fr;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: white;
    padding: 30px 5% 30px 55px;
    gap: 35%;
}

.top{
    display: flex;
    justify-content: space-between;
    gap: 25%;
}

.top div{
    display: flex;
    gap: 15px;
}
.search {
    display: flex;
    flex: 1;
    height: 35px;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
}

.search div{
    align-self: center;
}

input {
    flex: 1;
    border-radius: 15px;
    border: none ;
    background-color: #C7D2FE; 
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    border-radius: 25px;
    padding: 10px 10px;
    font-size: 18px;
    width: 120px;
    color: white;
    background-color: #4F46E5 ;
    border: none;
}

button:hover{
    background-color: #F97316;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.left{
    display: flex;
    gap: 15px;
    font-size: 18px;
    font-weight: bold;
}
.left>div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.left>div>div:last-child{
    font-size: 25px;
}

.right{
    display: flex;
    gap: 30px;

}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #4F46E5;
    color: white;
    
}

.nav a:hover{
   color: #F97316; 
}

.dashboard{
    font-size: 30px;
    font-weight: bold;
}

.nav{
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 22px;
    margin-top: 12%;
}

.nav>div{
    display: flex;
    align-items: center;
    gap: 10%;
}
.nav a{
    text-decoration: none;
    color: white;
}

.main{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #C7D2FE; 
    color: #585858;
    padding-bottom: 50px;

}

.projects{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    flex-direction: column;
    padding: 20px 30px 0;
}

.projects>p{
    font-weight: bold;
    font-size: 18px;
    color: black;
}
.project-grid{
    flex:1;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
    justify-content: stretch;
}

.card{
    display: grid;
    grid-template-columns: 1fr 35fr;
    background-color: white;
    max-width: 400px;
    max-height: 350px;
    min-height: 70px;
    min-width: 100px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 

}

.stripe{
    grid-column: 1/2;
    background-color: #F97316;
    border-radius: 10px 0 0 10px;
}

.card>:last-child{
display: flex;
flex-direction: column;
padding: 30px 20px 30px 20px;
gap: 5px;
}

.card>:nth-child(2)>:first-child{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.icons{
    margin-top: auto;
    display: flex;
    justify-content: end;
    align-items:flex-end end;
    gap: 25px;
}

.icons a{
    color: black;
}

.icons a:hover{
    color: #F97316;
}

.main-right{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-row: 1/2;
    grid-column: 2/3;
    padding-right: 30px;
    padding-top: 20px;
}

.main-right>div>p{
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.annoucements {
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
    font-size: 13px;
}
.annoucements>div{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 20px;  
}

.title{
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.line{
    color: #CBD5E1;
    border: solid;
    border-style: thin;
    border-width: 1px;
}
.trending {
    display: flex;
    flex-direction: column;
    flex:1;
    grid-row: 2/3;
}

.trending>div{
    background-color: white;
    flex: 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
}

.trending-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 40px 30px;
}

.trending-container>div{
    display: flex;
    gap: 15px;
}

.username{
    color: black;
}

